.carousel-img {
  filter: grayscale(100%);
  height: 500px;
  width: auto;
  object-fit: cover;
  bottom: 30px;
  transition: 0.4s;
}

.carousel-img:hover {
  opacity: 0.9;
  transform: scale(1.2);
}
